@import 'layout';

$color-1: #546e7a;
$color-1-active: #263238;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.txt-l {
  font-size: 1.5em;
}

.txt-gray {
  color: #D3D3D3;
}

.txt-red {
  color: #ff0000;
}

.color-1 {
  color: $color-1;
}

.header {
  background-color: $color-1;
  height: 10%;
}

.content {
  height: 90%;
  position: relative;
  overflow-y: scroll;
}

.header {
  color: white;
}

.header a {
  text-decoration: none;
  color: inherit;
}

.footer .active {
  background-color: $color-1-active;
}

.edit-event-input {
  display: flex;
  margin: auto;
}

.edit-member-enter {
  opacity: 0.01;
}

.edit-member-enter.edit-member-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.edit-member-leave {
  opacity: 1;
}

.edit-member-leave.edit-member-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



// spinner

.spinner-wrapper {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EEEEEE;
  opacity: 0.8;

  .spinner {
    width: 80px;
    height: 80px;

    position: relative;
    margin: 100px auto;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

}


@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
